@model IEnumerable<AttendanceSystem.Models.Student>

@{
	Layout = "_Layout";

}

<!DOCTYPE html>

<html>
<head>
	<meta name="viewport" content="width=device-width" />
	<title>StudentList</title>
	<style>
		td {
			vertical-align: middle;
		}

			td.stdid-Attend {
				border-left: 5px solid  #00F700;
			}

			td.stdid-Absent {
				border-left: 5px solid red;
			}

	</style>
</head>
<body>

	<div class="d-inline ">
		<a asp-action="Create" class="btn btn-success">Create New</a>
	</div>
	<div class="d-inline ">
		<a asp-controller="Hr" asp-action="ImportExcel" class="btn btn-dark	">Import Excel</a>
	</div>
	<table class="table">
		<thead>
			<tr>
				<th>
					@Html.DisplayNameFor(model => model.Id)
				</th>
				<th>
					@Html.DisplayNameFor(model => model.Name)
				</th>
				<th>
					@Html.DisplayNameFor(model => model.Age)
				</th>
				<th>
					@Html.DisplayNameFor(model => model.Email)
				</th>
				<th>
					@Html.DisplayNameFor(model => model.IsVerified)
				</th>
				<th>
					@Html.DisplayNameFor(model => model.DepartmentNavigation)
				</th>
				<th>

					@Html.DisplayNameFor(model => model.attendances)
				</th>
				<th></th>
			</tr>
		</thead>
		<tbody>
			@foreach (var item in Model)
			{
				<tr>
					@if (item.attendances.Exists(u => u.StdId == item.Id && u.Date == DateTime.Today))
					{
						<td class="stdid-Attend">
							@Html.DisplayFor(modelItem => item.Id)
						</td>
					}
					else
					{
						<td class="stdid-Absent">
							@Html.DisplayFor(modelItem => item.Id)
						</td>
					}
					<td>
						@Html.DisplayFor(modelItem => item.Name)
					</td>
					<td>
						@Html.DisplayFor(modelItem => item.Age)
					</td>
					<td>
						@Html.DisplayFor(modelItem => item.Email)
					</td>
					<td>
						<form asp-action="Verfied" method="post" asp-route-id="@item.Id">
							@if (item.IsVerified)
							{
								<button type="submit" disabled>Verfied</button>
							}
							else
							{
								<button type="submit" asp-for="@item.IsVerified">Not Verfied</button>
							}
						</form>

					</td>
					<td>
						@Html.DisplayFor(modelItem => item.DepartmentNavigation.DeptName)
					</td>
					<td>
						@if (item.attendances.Exists(u => u.StdId == item.Id && u.Date == DateTime.Today))
						{
							<p style="color:forestgreen; font-weight:bold">Attend</p>
						}
						else
						{
							<p style="color:red; font-weight:bold">Absent</p>
						}

					</td>
					<td>
						<a asp-action="Update" asp-route-id="@item.Id" class="btn btn-primary">Edit</a> |
						<a asp-action="Details" asp-route-id="@item.Id" class="btn btn-info">Details</a> |
						<a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger">Delete</a>
					</td>
				</tr>
			}
		</tbody>
	</table>
</body>
</html>
